
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";


// W3CSS
@import "~w3-css/w3.css";


body {
  background-color: $body-bg;
  color: $default-font-color;
}

.form-bg {
  background-color: $form-bg;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: $w3-teal !important;
}

a:hover {
  color: $w3-orange !important;
}

// Flash Message
#flash-message {
  position: absolute;
  right: 20px;
  top: 75px;
  z-index: 10;
  animation: flash-message 4s forwards;
}

@keyframes flash-message {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0; display: none;
  }
}
